@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Readex+Pro:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #6CB4D8, white); /* Gradient applied here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 45px 10px 10px; /* Extra padding for toggle button */
    border: 2px solid #B2EBF2;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    top: 50%; /* Center vertically */
    right: 10px; /* Align to the right */
    transform: translateY(-50%); /* Ensure proper centering */
    background: none;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}

.toggle-password:focus {
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    transition: background-color 0.3s;
    height: 40px;
    width: 200px;
}

input[type="submit"]:hover {
    background-color: #0f5313;
}
